<app-header></app-header>

<div class="shell" [class.shell--workspace-collapsed]="workspaceCollapsed" [class.shell--thread-open]="vm().open">
  <button class="workspace-toggle" type="button" (click)="toggleWorkspace()">
    <span class="workspace-toggle-icon"></span>
    <span class="workspace-toggle-label">
      {{ workspaceCollapsed ? 'Workspace-Menü öffnen' : 'Workspace-Menü schließen' }}
    </span>
  </button>
  <aside class="shell__left">
    <app-channels (workspaceCollapsedChange)="onWorkspaceCollapsedChange($event)"></app-channels>
  </aside>

  <main class="shell__center" [class.shell__center--thread-open]="vm().open">
    <router-outlet></router-outlet>
  </main>

  <aside class="shell__right" [class.is-open]="vm().open" aria-label="Thread">
    <ng-container *ngIf="vm().open">
      <app-thread [currentUserId]="currentUser?.id ?? null" [channelId]="channelId!" [header]="vm().header!"
        [rootMessage]="vm().root!" [replies]="vm().replies" [users]="usersAllForMentions" (send)="onSend($event)"
        (edit)="onEditThreadMessage($event)" (close)="onClose()">
      </app-thread>
    </ng-container>
  </aside>
</div>
