/* ===========================
    Message Action Buttons
   =========================== */

.msg-act-btn {
    border: none;
    background: transparent;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition15);
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        background-color: var(--background-color);
        transform: scale(1.05);
    }
}

.msg-act-add {
    background-image: url('/public/images/add-reaction-comment.svg');

    &:hover {
        background-image: url('/public/images/add-reaction-comment-hover.svg');
    }
}

.msg-act-thread {
    background-image: url('/public/images/comment.svg');

    &:hover {
        background-image: url('/public/images/comment-hover.svg');
    }
}

.msg-act-edit {
    background-image: url('/public/images/dots.svg');

    &:hover {
        background-image: url('/public/images/dots-hover.svg');
    }
}

.msg-act-more {
    background-image: url('/public/images/dots.svg');

    &:hover {
        background-image: url('/public/images/dots-hover.svg');
    }
}

/* Edit Menu Popover */
.msg-more-popover {
    position: fixed;
    z-index: 10000;
    background: var(--surface-bg);
    border: 1px solid var(--background-color);
    border-radius: 24px;
    border-top-left-radius: 0;
    box-shadow: var(--shadow-popover);
    padding: 6px;
    min-width: 240px;
}

.msg-more-item {
    width: 100%;
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    padding: 12px 14px;
    border-radius: 16px;
    text-align: center;
    transition: var(--transition15);

    &:hover {
        color: var(--primary-color);
        background: var(--background-color);
    }
}