/* ===========================
   Chat Component Styles
   Main file with imports only
   =========================== */

:host {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  position: relative;
}

/* Import partials */
@import './helpers/chat-header';
@import './helpers/chat-body';
@import './helpers/chat-messages';
@import './helpers/chat-actions';
@import './helpers/chat-composer';
@import './helpers/chat-edit';
@import './helpers/chat-reactions';
@import './helpers/chat-emoji';
@import './helpers/chat-mentions';
@import './helpers/chat-modals';
@import './helpers/chat-members';
@import './helpers/chat-mobile';