/* ===========================
   Chat Component Styles
   Main file with imports only
   =========================== */

@use './helpers/chat-header' as *;
@use './helpers/chat-body' as *;
@use './helpers/chat-messages' as *;
@use './helpers/chat-actions' as *;
@use './helpers/chat-composer' as *;
@use './helpers/chat-edit' as *;
@use './helpers/chat-reactions' as *;
@use './helpers/chat-emoji' as *;
@use './helpers/chat-mentions' as *;
@use './helpers/chat-modals' as *;
@use './helpers/chat-members' as *;
@use './helpers/chat-mobile' as *;

:host {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  position: relative;
}
