<main>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Passwort zurücksetzen</mat-card-title>
      <mat-card-subtitle>Bitte geben Sie Ihre E-Mail-Adresse ein.</mat-card-subtitle>
    </mat-card-header>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="input-container">
        <div class="email-input">
          <img src="/public/images/mail-icon.svg" alt="email icon">
          <input type="email" placeholder="beispiel@beispiel.de" formControlName="email" />
          <span class="error-text" *ngIf="resetForm.get('email')?.invalid && resetForm.get('email')?.touched">
            Ungültige oder fehlende E-Mail-Adresse
          </span>
        </div>
      </div>

      <div class="info-text-container">
        <span class="info-text">
          Wir senden Ihnen eine E-Mail, über die Sie ihr Passwort ändern können.
        </span>
      </div>

      <div class="button-container">
        <button [disabled]="resetForm.invalid" class="button_1" type="submit">E-Mail senden</button>
      </div>
    </form>

  </mat-card>
</main>
