<main>
  <mat-card appearance="outlined">
    <mat-card-header>
      <img src="/public/images/arrow-back.svg" alt="arrow-back" class="back-arrow" (click)="back.emit()">
      <mat-card-title>Neues Passwort setzen</mat-card-title>
      <mat-card-subtitle *ngIf="email">für {{ email }}</mat-card-subtitle>
    </mat-card-header>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" *ngIf="!successMessage">
      <div class="input-container">
        <!-- Neues Passwort -->
        <div class="password-input">
          <img src="./public/images/password-icon.svg" alt="password icon">
          <input type="password" placeholder="Neues Passwort" formControlName="password" />
        </div>
        <span class="error-text" *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.touched">
          Mindestens 6 Zeichen
        </span>

        <!-- Passwort bestätigen -->
        <div class="password-input">
          <img src="./public/images/password-icon.svg" alt="password icon">
          <input type="password" placeholder="Passwort bestätigen" formControlName="confirmPassword" />
        </div>
        <span class="error-text" *ngIf="resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched">
          Passwort wiederholen
        </span>
        <span class="error-text" *ngIf="resetForm.hasError('mismatch')">
          Passwörter stimmen nicht überein
        </span>
      </div>

      <span class="error-text" *ngIf="errorMessage" style="margin-top: 20px; display: block; text-align: center;">
        {{ errorMessage }}
      </span>

      <div class="button-container">
        <button class="button_1" type="submit" [disabled]="resetForm.invalid">
          Passwort ändern
        </button>
      </div>
    </form>

    <div class="user-successful-container" [class.visible]="!!successMessage">
      <p>{{ successMessage }}</p>
    </div>
  </mat-card>
</main>