/* ===========================
    Channels Component Styles
   =========================== */

@use 'helpers/channels-header' as *;
@use 'helpers/channels-sections' as *;
@use 'helpers/channels-list' as *;
@use 'helpers/channels-sidebar' as *;
@use 'helpers/channels-modal' as *;
@use 'helpers/channels-search' as *;
@use 'helpers/channels-responsive' as *;

:host {
  display: block;
  height: 100%;
}
