/* ===========================
    Header Component Styles
   =========================== */

/* Import partial stylesheets */
@import 'helpers/header-logo';
@import 'helpers/header-search';
@import 'helpers/header-profile';

/* Import responsive partials */
@import 'helpers/header-desktop';
@import 'helpers/header-tablet';
@import 'helpers/header-mobile';

/* Import modal partial */
@import 'helpers/header-modal'