<div class="header-wrapper">
    <div class="img-wrapper">
        <img src="../../../../public/images/dabubble-logo.svg" class="logo-bubble" alt="" srcset="">
        <img src="../../../../public/images/Logo name.svg" class="logo-text" alt="" srcset="">
    </div>
    <div class="input-wrapper">
        <input type="text" placeholder="Devspace durchsuchen">
        <img src="../../../../public/images/search.svg" class="input-search-icon" alt="" srcset="">
    </div>
    <div class="profile-wrapper">
        <div class="name-text">Frederick Beck</div>
        <img src="../../../../public/images/frederik-beck-chat.svg" class="profile-img" alt="" srcset="">
        <div class="online-status-dot"></div>

        <img src="../../../../public/images/channel-info-arrow-down.svg" class="arrow-down" alt="" srcset="">
    </div>
</div>