/* Own Message Styles */
.message-row.own {
  grid-template-columns: 1fr 48px;
  align-items: flex-start;
  justify-items: end;

  .avatar {
    grid-column: 2;
  }

  .message-col {
    grid-column: 1;
    margin-top: -64px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;

    .bubble-light {
      background-color: var(--primary-color) !important;
      color: var(--surface-bg);
    }
  }

  .header {
    justify-content: flex-end;
    text-align: right;
    width: fit-content;
    margin-bottom: 8px;
  }

  .bubble {
    align-self: flex-end;
    border-top-left-radius: 16px !important;
    border-top-right-radius: 0 !important;
  }

  .message-actions {
    right: auto;
    left: 24px;
    border-radius: 32px 32px 32px 0;
    transform: translateX(-32px);
  }

  &:hover {
    .message-actions {
      transform: translateX(0);
    }
  }

  .reactions-row {
    align-self: flex-end;
    justify-content: flex-end;
  }

  .message-col .edit-box {
    align-self: flex-end;
  }
}

.bubble-own {
  background: var(--primary-color) !important;
  color: var(--surface-bg) !important;
  border-top-right-radius: 0;
  border-top-left-radius: 16px;
}