:host {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  position: relative;
}

@import 'chat-header';
@import 'chat-body';
@import 'chat-messages';
@import 'chat-own-messages';
@import 'chat-composer';
@import 'chat-emoji';
@import 'chat-reactions';
@import 'chat-edit';
@import 'chat-modals';
@import 'chat-utils';
@import 'chat-mobile';