<section>
    <header>
        <div class="logo">
            <img class="logo-img" src="./public/images/dabubble-logo.svg" alt="DA-Bubble Logo">
            <img class="logo-name" src="./public/images/Logo name.svg" alt="DA-Bubble Logo Name">
        </div>
        <div class="right-header-container">
            <span>Neu bei DABubble?</span>
            <a (click)="openRegisterCard()">Konto erstellen</a>
        </div>

    </header>

    <main>
        <app-login-card *ngIf="showLoginCardComponent"></app-login-card>
        <app-register-card *ngIf="showRegisterCardComponent"></app-register-card>
    </main>

    <footer class="footer-container">
        <a href="">Impressum</a>
        <a href="">Datenschutz</a>
    </footer>
</section>