<section>
    <header>
        <div class="logo">
            <img class="logo-img" src="./public/images/dabubble-logo.svg" alt="DA-Bubble Logo">
            <img class="logo-name" src="./public/images/Logo name.svg" alt="DA-Bubble Logo Name">
        </div>
        <div class="right-header-container">
            <span>Neu bei DABubble?</span>
            <a href="">Konto erstellen</a>
        </div>

    </header>

    <main>
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>Anmeldung</mat-card-title>
                <mat-card-subtitle>Wir empfehlen dir, die E-mail-Adresse zu nutzen, die du bei der Arbeit
                    verwendest.</mat-card-subtitle>
            </mat-card-header>

            <mat-form-field class="input-login">
                <mat-label>E-Mail</mat-label>
                <input matInput type="text">
            </mat-form-field>

            <mat-form-field class="input-login">
                <mat-label>Passwort</mat-label>
                <input matInput type="password">
            </mat-form-field>

            <mat-card-actions>
                <button matButton="elevated">Anmelden</button>
                <button matButton="elevated">Gäste-Login</button>
            </mat-card-actions>
        </mat-card>
    </main>
</section>