<main>
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>Konto erstellen</mat-card-title>
            <mat-card-subtitle>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</mat-card-subtitle>
        </mat-card-header>

        <form onsubmit="login(event)">

            <div class="input-container">
                <div class="span-input">
                    <div class="name-input">
                        <img src="./public/images/mail-icon.svg" alt="email icon">
                        <input type="name" placeholder="Name und Nachname" required pattern="[a-zA-Z]">
                    </div>
                    <span class="wrong-password">Bitte schreibe deinen Namen.</span>
                </div>
                <div class="span-input">
                    <div class="email-input">
                        <img src="./public/images/password-icon.svg" alt="password icon">
                        <input type="email" placeholder="beispielname@email.com" required minlength="6"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    </div>
                    <span class="wrong-password">*Deine E-Mail-Adresse ist ungültig.</span>
                </div>
                <div class="span-input">
                    <div class="password-input">
                        <img src="./public/images/password-icon.svg" alt="password icon">
                        <input type="password" placeholder="Passwort" required minlength="6">
                    </div>
                    <span class="wrong-password">Bitte geben Sie ein Passwort ein.</span>
                </div>
            </div>

            <form class="privacy-policy">
                <div class="checkbox-container">
                    <input type="checkbox" id="terms" name="terms" required>
                    <label for="terms">Ich stimme der <a href="#">Datenschutzerklärung</a> zu.</label>
                </div>
            </form>

            <div class="button-container">
                <button class="button_1">Weiter</button>
            </div>
        </form>
    </mat-card>
</main>