<main>
  <mat-card appearance="outlined">
    <mat-card-header>
      <img src="/public/images/arrow-back.svg" alt="arrow-back" class="back-arrow" (click)="back.emit()">
      <mat-card-title>Konto erstellen</mat-card-title>
      <mat-card-subtitle>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
        DABubble-Konto.</mat-card-subtitle>
    </mat-card-header>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="input-container">
        <div class="span-input">
          <div class="name-input">
            <img src="./public/images/mail-icon.svg" alt="email icon">
            <input type="name" placeholder="Name und Nachname" formControlName="name">
          </div>
          @if (form.get('name')?.touched && form.get('name')?.invalid) {
          <span class="wrong-password">
            @if (form.get('name')?.errors?.['required']) {
            Bitte schreibe deinen Namen.
            }
            @else if (form.get('name')?.errors?.['minlength']) {
            Mindestens 2 Zeichen.
            }
            @else if (form.get('name')?.errors?.['pattern']) {
            Nur Buchstaben erlaubt.
            }
          </span>}
        </div>
        <div class="span-input">
          <div class="email-input">
            <img src="./public/images/password-icon.svg" alt="password icon">
            <input type="email" placeholder="beispielname@email.com" formControlName="email">
          </div>
          @if (form.get('email')?.touched && form.get('email')?.invalid) {
          <span class="wrong-password">
            @if (form.get('email')?.errors?.['required']) {
            Bitte gib deine E-Mail-Adresse ein.
            }
            @else if (form.get('email')?.errors?.['email']) {
            Deine E-Mail-Adresse ist ungültig.
            }
          </span>}
        </div>
        <div class="span-input">
          <div class="password-input">
            <img src="./public/images/password-icon.svg" alt="password icon">
            <input type="password" placeholder="Passwort" formControlName="password">
          </div>
          @if (form.get('password')?.touched && form.get('password')?.invalid) {
          <span class="wrong-password">
            @if (form.get('password')?.errors?.['required']) {
            Bitte geben Sie ein Passwort ein.
            }
            @else if (form.get('password')?.errors?.['minlength']) {
            Das Passwort muss mindestens 6 Zeichen lang sein.
            }
            @else if (form.get('password')?.errors?.['pattern']) {
            Das Passwort muss mindestens einen Großbuchstaben und ein Sonderzeichen enthalten.
            }
          </span>}
        </div>
      </div>

      <div class="privacy-policy">
        <div class="checkbox-container">
          <input type="checkbox" id="terms" name="terms" formControlName="terms">
          <label for="terms">
            Ich stimme der <a routerLink="/privacy-policy">Datenschutzerklärung</a> zu.
          </label>
        </div>
      </div>
      @if (form.get('terms')?.touched && form.get('terms')?.invalid) {
      <span class="wrong-password">Du musst der Datenschutzerklärung zustimmen.</span>
      }
      @if (registrationError()) {
      <span class="wrong-password">{{ registrationError() }}</span>
      }

      <div class="button-container">
        <button class="button_1" type="submit" [disabled]="form.invalid">Weiter</button>
      </div>
    </form>
  </mat-card>
</main>