section {
  display: flex;
  flex-direction: row;

  >.column {
    display: flex;
    flex-direction: column;
    margin: 16px;

    >app-channels,
    app-chat,
    app-thread {
      flex: 1;
      background-color: white;
      border-radius: 30px;
    }
  }
}