app-header {
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  display: flex;
  align-items: center;
}

section {
  display: flex;
  flex-direction: row;

  >.column {
    display: flex;
    flex-direction: column;
    margin: 16px;

    >app-channels,
    app-chat,
    app-thread {
      flex: 1;
      background-color: white;
      border-radius: 30px;
    }
  }
}
