<div class="imprint-page">
  <img class="legal-logo" src="/public/images/logo-full.svg" alt="DABubble Logo" />

  <div class="imprint-card">
    <button type="button" class="back-btn" (click)="goBack()" aria-label="Back"></button>

    <h1 class="title">Impressum</h1>

    <div class="content">
      <p>Max Mustermann<br>
        Max Straße 1<br>
        12345 City
      </p>

      <h2 class="subtitle">Contact</h2>

      <p>
        E-Mail:
        <a href="mailto:mail&#64;muster.com">mail&#64;muster.com</a>
      </p>

    </div>
  </div>
</div>