/* Thread Component Main Styles */
@use 'helpers/thread-header' as *;
@use 'helpers/thread-body' as *;
@use 'helpers/thread-messages' as *;
@use 'helpers/thread-own-messages' as *;
@use 'helpers/thread-actions' as *;
@use 'helpers/thread-edit' as *;
@use 'helpers/thread-reactions' as *;
@use 'helpers/thread-composer' as *;
@use 'helpers/thread-popovers' as *;
@use 'helpers/thread-responsive' as *;

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  flex-grow: 1;
  width: 100%;
}
