<div class="imprint-page">
  <div class="legal-logo">
    <img class="legal-logo-img" src="/public/images/dabubble-logo.svg" alt="DABubble Logo">
    <img class="legal-logo-name" src="/public/images/Logo name.svg" alt="DABubble">
  </div>

  <div class="imprint-card">
    <button type="button" class="back-btn" (click)="goBack()" aria-label="Back"></button>

    <h1 class="title">Impressum</h1>

    <div class="content">
      <p>Mohammed Abumustafa<br>
        Tütersburg 38<br>
        42277 Wuppertal
      </p>

      <h2 class="subtitle">Contact</h2>

      <p>
        E-Mail:
        <a href="mailto:contact&#64;muster.com">contact&#64;mohammed-abumustafa.de</a>
      </p>

    </div>
  </div>
</div>