/* Thread Component Main Styles */
:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  flex-grow: 1;
  width: 100%;
}

@import 'thread-header';
@import 'thread-body';
@import 'thread-messages';
@import 'thread-own-messages';
@import 'thread-actions';
@import 'thread-edit';
@import 'thread-reactions';
@import 'thread-composer';
@import 'thread-popovers';
@import 'thread-responsive';